.button {
  border-radius: 10px;
  border: 1px solid var(--figma-color-border);
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 600;
  font-family: inherit;
  background: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  cursor: pointer;
  transition: transform 120ms ease, border-color 120ms ease,
    background-color 120ms ease;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  max-height: 32px;

  &:hover:not(:disabled) {
    background: var(--figma-color-bg-tertiary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.primary {
  background: var(--figma-color-bg-brand, var(--figma-color-bg-secondary));
  border-color: var(
    --figma-color-border-brand-strong,
    var(--figma-color-border)
  );
  color: #fff;
  &:hover:not(:disabled) {
    background: var(--figma-color-bg-brand-hover);
  }
}

.icon {
  font-family: "Material Symbols Rounded";
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 20;
  font-size: 18px;
  line-height: 1;
  display: inline-flex;
}

.iconOnly {
  max-width: 32px;
  padding-inline: 8px;
  justify-content: center;
}

.secondary {
  background: var(--figma-color-bg-secondary);
  border-color: var(--figma-color-border);
}

.ghost {
  background: transparent;
}

.danger {
  background: var(--figma-color-bg-secondary);
  color: var(--figma-color-text-danger, var(--figma-color-text));
}
