.sectionHeader {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background: var(--figma-color-bg);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--figma-color-border);
  height: 57px;
  z-index: 10; /* needs positioning to take effect */
}

.sectionTitle {
  font-weight: 600;
}

.subtitle {
  font-size: 12px;
  color: var(--figma-color-text-secondary);
}

.sectionChildren {
 
}

.sectionActions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
